# Install `ftva-etl` package
git+https://github.com/UCLALibrary/ftva-etl.git@v0.3.2
xmltodict==0.14.2
# For Excel conversion
pandas==2.2.3
openpyxl==3.1.5
# For title matching
strsimpy==0.2.1
# Alma API and analytics client 
git+https://github.com/UCLALibrary/alma-api-client
# For retrying requests to Filemaker API
retry==0.9.2
# For date parsing
edtf==5.0.1
dateparser==1.4.0
